/*	John Williams
	November 3, 2011
	VFW Deliverable 2
	Online Beer Store
*/

html {
    background-color: #222222;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    color: #cccccc;
}

p {
    margin: 1.5em 0;
}

h1 {
    background-color: #333333;
    color: #f1f1f1;
}

h2 {
    background-color: #333333;
    color: #f1f1f1;

}

.button {
	background: #cccccc;
	color: #555555;
	font-size: 15px;
	border: 2px #bbbbbb;
	width: 99%;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.button:hover {
	background: #cccccc;
	color: #555555;
	font-size: 15px;
	border: 2px #bbbbbb;
	width: 99%;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px 1px #888;
	-webkit-box-shadow: 3px 3px 1px #888;
	box-shadow: 3px 3px 1px #888;
}

fieldset {
	border: none;

}

